*:root * {
    color: inherit;
    background: transparent;
    border-color: currentColor;
    outline-color: currentColor;
    text-decoration-color: currentColor;
}

/*  TRANSITIONS  */

a[href], *.colour-link, *[data-colour-transition] {
    transition: color .5s, background-color .5s, line-colour .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, text-emphasis-color .5s, fill .5s, stroke .5s;
}

/*  BASIC COLOURING  */

*:root *:not(:root)[data-colour|="cyan"] {
    color: #31b9db;
}

*:root *:not(:root)[data-colour|="blue"] {
    color: #7476fc;
}

*:root *:not(:root)[data-colour|="purple"] {
    color: #c258f2;
}

*:root *:not(:root)[data-colour|="magenta"] {
    color: #e63ca4;
}

*:root *:not(:root)[data-colour|="red"] {
    color: #e83f2c;
}

*:root *:not(:root)[data-colour|="yellow"] {
    color: #f6d037;
}

*:root *:not(:root)[data-colour|="green"] {
    color: #6ad622;
}

*:root *:not(:root)[data-colour|="teal"] {
    color: #49cfa2;
}

*:root *:not(:root)[data-colour|="cyan-light"] {
    color: #bfe7f2;
}

*:root *:not(:root)[data-colour|="blue-light"] {
    color: #d0d1f6;
}

*:root *:not(:root)[data-colour|="purple-light"] {
    color: #eabdff;
}

*:root *:not(:root)[data-colour|="magenta-light"] {
    color: #f0b2d8;
}

*:root *:not(:root)[data-colour|="red-light"] {
    color: #f9a59b;
}

*:root *:not(:root)[data-colour|="yellow-light"] {
    color: #fcf0be;
}

*:root *:not(:root)[data-colour|="green-light"] {
    color: #d5fcbb;
}

*:root *:not(:root)[data-colour|="teal-light"] {
    color: #bdf0df;
}

*:root *:not(:root)[data-colour|="cyan-dark"] {
    color: #00495c;
}

*:root *:not(:root)[data-colour|="blue-dark"] {
    color: #383966;
}

*:root *:not(:root)[data-colour|="purple-dark"] {
    color: #4c3159;
}

*:root *:not(:root)[data-colour|="magenta-dark"] {
    color: #592846;
}

*:root *:not(:root)[data-colour|="red-dark"] {
    color: #5d2721;
}

*:root *:not(:root)[data-colour|="yellow-dark"] {
    color: #4f420d;
}

*:root *:not(:root)[data-colour|="green-dark"] {
    color: #1f4505;
}

*:root *:not(:root)[data-colour|="teal-dark"] {
    color: #1c4b3b;
}

*:root *:not(:root)[data-colour|="white"] {
    color: #f5f5f5;
}

*:root *:not(:root)[data-colour|="bright"] {
    color: #cccccc;
}

*:root *:not(:root)[data-colour|="light"] {
    color: #a3a3a3;
}

*:root *:not(:root)[data-colour|="medium"] {
    color: #828282;
}

*:root *:not(:root)[data-colour|="regular"] {
    color: #636363;
}

*:root *:not(:root)[data-colour|="dark"] {
    color: #3b3b3b;
}

*:root *:not(:root)[data-colour|="dim"] {
    color: #1c1c1c;
}

*:root *:not(:root)[data-colour|="black"] {
    color: #0c0c0c;
}

*:root *:not(:root)[data-colour|="transparent"] {
    color: transparent;
}

*:root *:not(:root)[data-colour|="inherit"] {
    color: inherit;
}

*:root *:not(:root)[data-colour-background|="cyan"] {
    background-color: #31b9db;
}

*:root *:not(:root)[data-colour-background|="blue"] {
    background-color: #7476fc;
}

*:root *:not(:root)[data-colour-background|="purple"] {
    background-color: #c258f2;
}

*:root *:not(:root)[data-colour-background|="magenta"] {
    background-color: #e63ca4;
}

*:root *:not(:root)[data-colour-background|="red"] {
    background-color: #e83f2c;
}

*:root *:not(:root)[data-colour-background|="yellow"] {
    background-color: #f6d037;
}

*:root *:not(:root)[data-colour-background|="green"] {
    background-color: #6ad622;
}

*:root *:not(:root)[data-colour-background|="teal"] {
    background-color: #49cfa2;
}

*:root *:not(:root)[data-colour-background|="cyan-light"] {
    background-color: #bfe7f2;
}

*:root *:not(:root)[data-colour-background|="blue-light"] {
    background-color: #d0d1f6;
}

*:root *:not(:root)[data-colour-background|="purple-light"] {
    background-color: #eabdff;
}

*:root *:not(:root)[data-colour-background|="magenta-light"] {
    background-color: #f0b2d8;
}

*:root *:not(:root)[data-colour-background|="red-light"] {
    background-color: #f9a59b;
}

*:root *:not(:root)[data-colour-background|="yellow-light"] {
    background-color: #fcf0be;
}

*:root *:not(:root)[data-colour-background|="green-light"] {
    background-color: #d5fcbb;
}

*:root *:not(:root)[data-colour-background|="teal-light"] {
    background-color: #bdf0df;
}

*:root *:not(:root)[data-colour-background|="cyan-dark"] {
    background-color: #00495c;
}

*:root *:not(:root)[data-colour-background|="blue-dark"] {
    background-color: #383966;
}

*:root *:not(:root)[data-colour-background|="purple-dark"] {
    background-color: #4c3159;
}

*:root *:not(:root)[data-colour-background|="magenta-dark"] {
    background-color: #592846;
}

*:root *:not(:root)[data-colour-background|="red-dark"] {
    background-color: #5d2721;
}

*:root *:not(:root)[data-colour-background|="yellow-dark"] {
    background-color: #4f420d;
}

*:root *:not(:root)[data-colour-background|="green-dark"] {
    background-color: #1f4505;
}

*:root *:not(:root)[data-colour-background|="teal-dark"] {
    background-color: #1c4b3b;
}

*:root *:not(:root)[data-colour-background|="white"] {
    background-color: #f5f5f5;
}

*:root *:not(:root)[data-colour-background|="bright"] {
    background-color: #cccccc;
}

*:root *:not(:root)[data-colour-background|="light"] {
    background-color: #a3a3a3;
}

*:root *:not(:root)[data-colour-background|="medium"] {
    background-color: #828282;
}

*:root *:not(:root)[data-colour-background|="regular"] {
    background-color: #636363;
}

*:root *:not(:root)[data-colour-background|="dark"] {
    background-color: #3b3b3b;
}

*:root *:not(:root)[data-colour-background|="dim"] {
    background-color: #1c1c1c;
}

*:root *:not(:root)[data-colour-background|="black"] {
    background-color: #0c0c0c;
}

*:root *:not(:root)[data-colour-background|="transparent"] {
    background-color: transparent;
}

*:root *:not(:root)[data-colour-background|="inherit"] {
    background-color: inherit;
}

/*  ROOT COLOURS  */

*:root[data-colour|="cyan"] {
    color: #31b9db;
}

*:root[data-colour|="cyan"] mark {
    background-color: #31b9db;
}

*:root[data-colour|="blue"] {
    color: #7476fc;
}

*:root[data-colour|="blue"] mark {
    background-color: #7476fc;
}

*:root[data-colour|="purple"] {
    color: #c258f2;
}

*:root[data-colour|="purple"] mark {
    background-color: #c258f2;
}

*:root[data-colour|="magenta"] {
    color: #e63ca4;
}

*:root[data-colour|="magenta"] mark {
    background-color: #e63ca4;
}

*:root[data-colour|="red"] {
    color: #e83f2c;
}

*:root[data-colour|="red"] mark {
    background-color: #e83f2c;
}

*:root[data-colour|="yellow"] {
    color: #f6d037;
}

*:root[data-colour|="yellow"] mark {
    background-color: #f6d037;
}

*:root[data-colour|="green"] {
    color: #6ad622;
}

*:root[data-colour|="green"] mark {
    background-color: #6ad622;
}

*:root[data-colour|="teal"] {
    color: #49cfa2;
}

*:root[data-colour|="teal"] mark {
    background-color: #49cfa2;
}

*:root[data-colour|="cyan-light"] {
    color: #bfe7f2;
}

*:root[data-colour|="cyan-light"] mark {
    background-color: #bfe7f2;
}

*:root[data-colour|="blue-light"] {
    color: #d0d1f6;
}

*:root[data-colour|="blue-light"] mark {
    background-color: #d0d1f6;
}

*:root[data-colour|="purple-light"] {
    color: #eabdff;
}

*:root[data-colour|="purple-light"] mark {
    background-color: #eabdff;
}

*:root[data-colour|="magenta-light"] {
    color: #f0b2d8;
}

*:root[data-colour|="magenta-light"] mark {
    background-color: #f0b2d8;
}

*:root[data-colour|="red-light"] {
    color: #f9a59b;
}

*:root[data-colour|="red-light"] mark {
    background-color: #f9a59b;
}

*:root[data-colour|="yellow-light"] {
    color: #fcf0be;
}

*:root[data-colour|="yellow-light"] mark {
    background-color: #fcf0be;
}

*:root[data-colour|="green-light"] {
    color: #d5fcbb;
}

*:root[data-colour|="green-light"] mark {
    background-color: #d5fcbb;
}

*:root[data-colour|="teal-light"] {
    color: #bdf0df;
}

*:root[data-colour|="teal-light"] mark {
    background-color: #bdf0df;
}

*:root[data-colour|="cyan-dark"] {
    color: #00495c;
}

*:root[data-colour|="cyan-dark"] mark {
    background-color: #00495c;
}

*:root[data-colour|="blue-dark"] {
    color: #383966;
}

*:root[data-colour|="blue-dark"] mark {
    background-color: #383966;
}

*:root[data-colour|="purple-dark"] {
    color: #4c3159;
}

*:root[data-colour|="purple-dark"] mark {
    background-color: #4c3159;
}

*:root[data-colour|="magenta-dark"] {
    color: #592846;
}

*:root[data-colour|="magenta-dark"] mark {
    background-color: #592846;
}

*:root[data-colour|="red-dark"] {
    color: #5d2721;
}

*:root[data-colour|="red-dark"] mark {
    background-color: #5d2721;
}

*:root[data-colour|="yellow-dark"] {
    color: #4f420d;
}

*:root[data-colour|="yellow-dark"] mark {
    background-color: #4f420d;
}

*:root[data-colour|="green-dark"] {
    color: #1f4505;
}

*:root[data-colour|="green-dark"] mark {
    background-color: #1f4505;
}

*:root[data-colour|="teal-dark"] {
    color: #1c4b3b;
}

*:root[data-colour|="teal-dark"] mark {
    background-color: #1c4b3b;
}

*:root[data-colour|="white"] {
    color: #f5f5f5;
}
*:root[data-colour|="white"] mark {
    background-color: #f5f5f5;
}

*:root[data-colour|="white"] a[href]:hover, *:root[data-colour|="white"] *.colour-link:hover,
*:root[data-colour|="white"] aside, *:root[data-colour|="white"] figcaption, *:root[data-colour|="white"] footer, *:root[data-colour|="white"] s, *:root[data-colour|="white"] small, *:root[data-colour|="white"] *.colour-secondary {
    color: #a3a3a3;
}

*:root[data-colour|="bright"] {
    color: #cccccc;
}

*:root[data-colour|="bright"] mark {
    background-color: #cccccc;
}

*:root[data-colour|="bright"] *.colour-accent,
*:root[data-colour|="bright"] code, *root[data-colour|="bright"] pre, *:root[data-colour|="bright"] *.colour-code,
*:root[data-colour|="bright"] *.colour-emphasis,
*:root[data-colour|="bright"] *.colour-heading,
*:root[data-colour|="bright"] a[href], *:root[data-colour|="bright"] *.colour-link,
*:root[data-colour|="bright"] *.colour-strong {
    color: #f5f5f5;
}

*:root[data-colour|="bright"] a[href]:hover, *:root[data-colour|="bright"] *.colour-link:hover,
*:root[data-colour|="bright"] aside, *:root[data-colour|="bright"] figcaption, *:root[data-colour|="bright"] footer, *:root[data-colour|="bright"] s, *:root[data-colour|="bright"] small, *:root[data-colour|="bright"] *.colour-secondary {
    color: #828282;
}

*:root[data-colour|="light"] {
    color: #a3a3a3;
}

*:root[data-colour|="light"] mark {
    background-color: #a3a3a3;
}

*:root[data-colour|="light"] code, *root[data-colour|="light"] pre, *:root[data-colour|="light"] *.colour-code,
*:root[data-colour|="light"] *.colour-strong {
    color: #f5f5f5;
}

*:root[data-colour|="light"] *.colour-accent,
*:root[data-colour|="light"] *.colour-emphasis,
*:root[data-colour|="light"] *.colour-heading,
*:root[data-colour|="light"] a[href], *:root[data-colour|="light"] *.colour-link {
    color: #cccccc;
}

*:root[data-colour|="light"] a[href]:hover, *:root[data-colour|="light"] *.colour-link:hover,
*:root[data-colour|="light"] aside, *:root[data-colour|="light"] figcaption, *:root[data-colour|="light"] footer, *:root[data-colour|="light"] s, *:root[data-colour|="light"] small, *:root[data-colour|="light"] *.colour-secondary {
    color: #636363;
}

*:root[data-colour|="medium"] {
    color: #828282;
}

*:root[data-colour|="medium"] mark {
    background-color: #828282;
}

*:root[data-colour|="medium"] code, *root[data-colour|="medium"] pre, *:root[data-colour|="medium"] *.colour-code {
    color: #f5f5f5;
}

*:root[data-colour|="medium"] *.colour-strong {
    color: #cccccc;
}

*:root[data-colour|="medium"] *.colour-accent,
*:root[data-colour|="medium"] *.colour-emphasis,
*:root[data-colour|="medium"] *.colour-heading,
*:root[data-colour|="medium"] a[href], *:root[data-colour|="medium"] *.colour-link {
    color: #a3a3a3;
}

*:root[data-colour|="medium"] a[href]:hover, *:root[data-colour|="medium"] *.colour-link:hover,
*:root[data-colour|="medium"] aside, *:root[data-colour|="medium"] figcaption, *:root[data-colour|="medium"] footer, *:root[data-colour|="medium"] s, *:root[data-colour|="medium"] small, *:root[data-colour|="medium"] *.colour-secondary {
    color: #3b3b3b;
}

*:root[data-colour|="regular"] {
    color: #636363;
}

*:root[data-colour|="regular"] mark {
    background-color: #636363;
}

*:root[data-colour|="regular"] code, *root[data-colour|="regular"] pre, *:root[data-colour|="regular"] *.colour-code {
    color: #0c0c0c;
}

*:root[data-colour|="regular"] *.colour-strong {
    color: #1c1c1c;
}

*:root[data-colour|="regular"] *.colour-accent,
*:root[data-colour|="regular"] *.colour-emphasis,
*:root[data-colour|="regular"] *.colour-heading,
*:root[data-colour|="regular"] a[href], *:root[data-colour|="regular"] *.colour-link {
    color: #3b3b3b;
}

*:root[data-colour|="regular"] a[href]:hover, *:root[data-colour|="regular"] *.colour-link:hover,
*:root[data-colour|="regular"] aside, *:root[data-colour|="regular"] figcaption, *:root[data-colour|="regular"] footer, *:root[data-colour|="regular"] s, *:root[data-colour|="regular"] small, *:root[data-colour|="regular"] *.colour-secondary {
    color: #a3a3a3;
}

*:root[data-colour|="dark"] {
    color: #3b3b3b;
}

*:root[data-colour|="dark"] mark {
    background-color: #3b3b3b;
}

*:root[data-colour|="dark"] code, *root[data-colour|="dark"] pre, *:root[data-colour|="dark"] *.colour-code,
*:root[data-colour|="dark"] *.colour-strong {
    color: #0c0c0c;
}

*:root[data-colour|="dark"] *.colour-accent,
*:root[data-colour|="dark"] *.colour-emphasis,
*:root[data-colour|="dark"] *.colour-heading,
*:root[data-colour|="dark"] a[href], *:root[data-colour|="dark"] *.colour-link {
    color: #1c1c1c;
}

*:root[data-colour|="dark"] a[href]:hover, *:root[data-colour|="dark"] *.colour-link:hover,
*:root[data-colour|="dark"] aside, *:root[data-colour|="dark"] figcaption, *:root[data-colour|="dark"] footer, *:root[data-colour|="dark"] s, *:root[data-colour|="dark"] small, *:root[data-colour|="dark"] *.colour-secondary {
    color: #828282;
}

*:root[data-colour|="dim"] {
    color: #1c1c1c;
}

*:root[data-colour|="dim"] mark {
    background-color: #1c1c1c;
}

*:root[data-colour|="dim"] *.colour-accent,
*:root[data-colour|="dim"] code, *root[data-colour|="dim"] pre, *:root[data-colour|="dim"] *.colour-code,
*:root[data-colour|="dim"] *.colour-emphasis,
*:root[data-colour|="dim"] *.colour-heading,
*:root[data-colour|="dim"] a[href], *:root[data-colour|="dim"] *.colour-link,
*:root[data-colour|="dim"] *.colour-strong {
    color: #0c0c0c;
}

*:root[data-colour|="dim"] a[href]:hover, *:root[data-colour|="dim"] *.colour-link:hover,
*:root[data-colour|="dim"] aside, *:root[data-colour|="dim"] figcaption, *:root[data-colour|="dim"] footer, *:root[data-colour|="dim"] small, *:root[data-colour|="dim"] *.colour-secondary {
    color: #636363;
}

*:root[data-colour|="black"] {
    color: #0c0c0c;
}

*:root[data-colour|="black"] mark {
    background-color: #0c0c0c;
}

*:root[data-colour|="black"] a[href]:hover, *:root[data-colour|="black"] *.colour-link:hover,
*:root[data-colour|="black"] aside, *:root[data-colour|="black"] figcaption, *:root[data-colour|="black"] footer, *:root[data-colour|="black"] s, *:root[data-colour|="black"] small, *:root[data-colour|="black"] *.colour-secondary {
    color: #3b3b3b;
}

*:root[data-colour|="transparent"] {
    color: transparent;
}

*:root[data-colour|="transparent"] mark {
    background-color: transparent;
}

*:root[data-colour|="inherit"] {
    color: inherit;
}

*:root[data-colour|="inherit"] mark {
    background-color: inherit;
}

*:root[data-colour-background|="cyan"] {
    background-color: #31b9db;
}

*:root[data-colour-background|="cyan"] mark {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] {
    background-color: #7476fc;
}

*:root[data-colour-background|="blue"] mark {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] {
    background-color: #c258f2;
}

*:root[data-colour-background|="purple"] mark {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] {
    background-color: #e63ca4;
}

*:root[data-colour-background|="magenta"] mark {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] {
    background-color: #e83f2c;
}

*:root[data-colour-background|="red"] mark {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] {
    background-color: #f6d037;
}

*:root[data-colour-background|="yellow"] mark {
    color: #f6d037;
}

*:root[data-colour-background|="green"] {
    background-color: #6ad622;
}

*:root[data-colour-background|="green"] mark {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] {
    background-color: #49cfa2;
}

*:root[data-colour-background|="teal"] mark {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] {
    background-color: #bfe7f2;
}

*:root[data-colour-background|="cyan-light"] mark {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] {
    background-color: #d0d1f6;
}

*:root[data-colour-background|="blue-light"] mark {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] {
    background-color: #eabdff;
}

*:root[data-colour-background|="purple-light"] mark {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] {
    background-color: #f0b2d8;
}

*:root[data-colour-background|="magenta-light"] mark {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] {
    background-color: #f9a59b;
}

*:root[data-colour-background|="red-light"] mark {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] {
    background-color: #fcf0be;
}

*:root[data-colour-background|="yellow-light"] mark {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] {
    background-color: #d5fcbb;
}

*:root[data-colour-background|="green-light"] mark {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] {
    background-color: #bdf0df;
}

*:root[data-colour-background|="teal-light"] mark {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] {
    background-color: #00495c;
}

*:root[data-colour-background|="cyan-dark"] mark {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] {
    background-color: #383966;
}

*:root[data-colour-background|="blue-dark"] mark {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] {
    background-color: #4c3159;
}

*:root[data-colour-background|="purple-dark"] mark {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] {
    background-color: #592846;
}

*:root[data-colour-background|="magenta-dark"] mark {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] {
    background-color: #5d2721;
}

*:root[data-colour-background|="red-dark"] mark {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] {
    background-color: #4f420d;
}

*:root[data-colour-background|="yellow-dark"] mark {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] {
    background-color: #1f4505;
}

*:root[data-colour-background|="green-dark"] mark {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] {
    background-color: #1c4b3b;
}

*:root[data-colour-background|="teal-dark"] mark {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] {
    background-color: #f5f5f5;
}

*:root[data-colour-background|="white"] mark {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] {
    background-color: #cccccc;
}

*:root[data-colour-background|="bright"] mark {
    color: #cccccc;
}

*:root[data-colour-background|="light"] {
    background-color: #a3a3a3;
}

*:root[data-colour-background|="light"] mark {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] {
    background-color: #828282;
}

*:root[data-colour-background|="medium"] mark {
    color: #828282;
}

*:root[data-colour-background|="regular"] {
    background-color: #636363;
}

*:root[data-colour-background|="regular"] mark {
    color: #636363;
}

*:root[data-colour-background|="dark"] {
    background-color: #3b3b3b;
}

*:root[data-colour-background|="dark"] mark {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] {
    background-color: #1c1c1c;
}

*:root[data-colour-background|="dim"] mark {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] {
    background-color: #0c0c0c;
}

*:root[data-colour-background|="black"] mark {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] {
    background-color: inherit;
}

*:root[data-colour-background|="inherit"] mark {
    color: inherit;
}

*:root[data-colour-background|="transparent"] {
    background-color: transparent;
}

*:root[data-colour-background|="transparent"] mark {
    color: transparent;
}

/*  SELECTION COLOURS  */

*:root[data-colour-background|="cyan"] *::selection {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] *::selection {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] *::selection {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] *::selection {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] *::selection {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] *::selection {
    color: #f6d037;
}

*:root[data-colour-background|="green"] *::selection {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] *::selection {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] *::selection {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] *::selection {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] *::selection {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] *::selection {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] *::selection {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] *::selection {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] *::selection {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] *::selection {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] *::selection {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] *::selection {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] *::selection {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] *::selection {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] *::selection {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] *::selection {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] *::selection {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] *::selection {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] *::selection {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] *::selection {
    color: #cccccc;
}

*:root[data-colour-background|="light"] *::selection {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] *::selection {
    color: #828282;
}

*:root[data-colour-background|="regular"] *::selection {
    color: #636363;
}

*:root[data-colour-background|="dark"] *::selection {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] *::selection {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] *::selection {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] *::selection {
    color: inherit;
}

*:root[data-colour-background|="transparent"] *::selection {
    color: transparent;
}

*:root *:not(:root)[data-colour|="cyan"]::selection {
    background-color: #31b9db;
}

*:root *:not(:root)[data-colour|="blue"]::selection {
    background-color: #7476fc;
}

*:root *:not(:root)[data-colour|="purple"]::selection {
    background-color: #c258f2;
}

*:root *:not(:root)[data-colour|="magenta"]::selection {
    background-color: #e63ca4;
}

*:root *:not(:root)[data-colour|="red"]::selection {
    background-color: #e83f2c;
}

*:root *:not(:root)[data-colour|="yellow"]::selection {
    background-color: #f6d037;
}

*:root *:not(:root)[data-colour|="green"]::selection {
    background-color: #6ad622;
}

*:root *:not(:root)[data-colour|="teal"]::selection {
    background-color: #49cfa2;
}

*:root *:not(:root)[data-colour|="cyan-light"]::selection {
    background-color: #bfe7f2;
}

*:root *:not(:root)[data-colour|="blue-light"]::selection {
    background-color: #d0d1f6;
}

*:root *:not(:root)[data-colour|="purple-light"]::selection {
    background-color: #eabdff;
}

*:root *:not(:root)[data-colour|="magenta-light"]::selection {
    background-color: #f0b2d8;
}

*:root *:not(:root)[data-colour|="red-light"]::selection {
    background-color: #f9a59b;
}

*:root *:not(:root)[data-colour|="yellow-light"]::selection {
    background-color: #fcf0be;
}

*:root *:not(:root)[data-colour|="green-light"]::selection {
    background-color: #d5fcbb;
}

*:root *:not(:root)[data-colour|="teal-light"]::selection {
    background-color: #bdf0df;
}

*:root *:not(:root)[data-colour|="cyan-dark"]::selection {
    background-color: #00495c;
}

*:root *:not(:root)[data-colour|="blue-dark"]::selection {
    background-color: #383966;
}

*:root *:not(:root)[data-colour|="purple-dark"]::selection {
    background-color: #4c3159;
}

*:root *:not(:root)[data-colour|="magenta-dark"]::selection {
    background-color: #592846;
}

*:root *:not(:root)[data-colour|="red-dark"]::selection {
    background-color: #5d2721;
}

*:root *:not(:root)[data-colour|="yellow-dark"]::selection {
    background-color: #4f420d;
}

*:root *:not(:root)[data-colour|="green-dark"]::selection {
    background-color: #1f4505;
}

*:root *:not(:root)[data-colour|="teal-dark"]::selection {
    background-color: #1c4b3b;
}

*:root *:not(:root)[data-colour|="white"]::selection {
    background-color: #f5f5f5;
}

*:root *:not(:root)[data-colour|="bright"]::selection {
    background-color: #cccccc;
}

*:root *:not(:root)[data-colour|="light"]::selection {
    background-color: #a3a3a3;
}

*:root *:not(:root)[data-colour|="medium"]::selection {
    background-color: #828282;
}

*:root *:not(:root)[data-colour|="regular"]::selection {
    background-color: #636363;
}

*:root *:not(:root)[data-colour|="dark"]::selection {
    background-color: #3b3b3b;
}

*:root *:not(:root)[data-colour|="dim"]::selection {
    background-color: #1c1c1c;
}

*:root *:not(:root)[data-colour|="black"]::selection {
    background-color: #0c0c0c;
}

*:root *:not(:root)[data-colour|="transparent"]::selection {
    background-color: transparent;
}

*:root *:not(:root)[data-colour|="inherit"]::selection {
    background-color: inherit;
}

/*  -MOZ-SELECTION COLOURS  */

*:root[data-colour-background|="cyan"] *::-moz-selection {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] *::-moz-selection {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] *::-moz-selection {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] *::-moz-selection {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] *::-moz-selection {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] *::-moz-selection {
    color: #f6d037;
}

*:root[data-colour-background|="green"] *::-moz-selection {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] *::-moz-selection {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] *::-moz-selection {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] *::-moz-selection {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] *::-moz-selection {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] *::-moz-selection {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] *::-moz-selection {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] *::-moz-selection {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] *::-moz-selection {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] *::-moz-selection {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] *::-moz-selection {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] *::-moz-selection {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] *::-moz-selection {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] *::-moz-selection {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] *::-moz-selection {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] *::-moz-selection {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] *::-moz-selection {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] *::-moz-selection {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] *::-moz-selection {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] *::-moz-selection {
    color: #cccccc;
}

*:root[data-colour-background|="light"] *::-moz-selection {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] *::-moz-selection {
    color: #828282;
}

*:root[data-colour-background|="regular"] *::-moz-selection {
    color: #636363;
}

*:root[data-colour-background|="dark"] *::-moz-selection {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] *::-moz-selection {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] *::-moz-selection {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] *::-moz-selection {
    color: inherit;
}

*:root[data-colour-background|="transparent"] *::-moz-selection {
    color: transparent;
}

*:root *:not(:root)[data-colour|="cyan"]::-moz-selection {
    background-color: #31b9db;
}

*:root *:not(:root)[data-colour|="blue"]::-moz-selection {
    background-color: #7476fc;
}

*:root *:not(:root)[data-colour|="purple"]::-moz-selection {
    background-color: #c258f2;
}

*:root *:not(:root)[data-colour|="magenta"]::-moz-selection {
    background-color: #e63ca4;
}

*:root *:not(:root)[data-colour|="red"]::-moz-selection {
    background-color: #e83f2c;
}

*:root *:not(:root)[data-colour|="yellow"]::-moz-selection {
    background-color: #f6d037;
}

*:root *:not(:root)[data-colour|="green"]::-moz-selection {
    background-color: #6ad622;
}

*:root *:not(:root)[data-colour|="teal"]::-moz-selection {
    background-color: #49cfa2;
}

*:root *:not(:root)[data-colour|="cyan-light"]::-moz-selection {
    background-color: #bfe7f2;
}

*:root *:not(:root)[data-colour|="blue-light"]::-moz-selection {
    background-color: #d0d1f6;
}

*:root *:not(:root)[data-colour|="purple-light"]::-moz-selection {
    background-color: #eabdff;
}

*:root *:not(:root)[data-colour|="magenta-light"]::-moz-selection {
    background-color: #f0b2d8;
}

*:root *:not(:root)[data-colour|="red-light"]::-moz-selection {
    background-color: #f9a59b;
}

*:root *:not(:root)[data-colour|="yellow-light"]::-moz-selection {
    background-color: #fcf0be;
}

*:root *:not(:root)[data-colour|="green-light"]::-moz-selection {
    background-color: #d5fcbb;
}

*:root *:not(:root)[data-colour|="teal-light"]::-moz-selection {
    background-color: #bdf0df;
}

*:root *:not(:root)[data-colour|="cyan-dark"]::-moz-selection {
    background-color: #00495c;
}

*:root *:not(:root)[data-colour|="blue-dark"]::-moz-selection {
    background-color: #383966;
}

*:root *:not(:root)[data-colour|="purple-dark"]::-moz-selection {
    background-color: #4c3159;
}

*:root *:not(:root)[data-colour|="magenta-dark"]::-moz-selection {
    background-color: #592846;
}

*:root *:not(:root)[data-colour|="red-dark"]::-moz-selection {
    background-color: #5d2721;
}

*:root *:not(:root)[data-colour|="yellow-dark"]::-moz-selection {
    background-color: #4f420d;
}

*:root *:not(:root)[data-colour|="green-dark"]::-moz-selection {
    background-color: #1f4505;
}

*:root *:not(:root)[data-colour|="teal-dark"]::-moz-selection {
    background-color: #1c4b3b;
}

*:root *:not(:root)[data-colour|="white"]::-moz-selection {
    background-color: #f5f5f5;
}

*:root *:not(:root)[data-colour|="bright"]::-moz-selection {
    background-color: #cccccc;
}

*:root *:not(:root)[data-colour|="light"]::-moz-selection {
    background-color: #a3a3a3;
}

*:root *:not(:root)[data-colour|="medium"]::-moz-selection {
    background-color: #828282;
}

*:root *:not(:root)[data-colour|="regular"]::-moz-selection {
    background-color: #636363;
}

*:root *:not(:root)[data-colour|="dark"]::-moz-selection {
    background-color: #3b3b3b;
}

*:root *:not(:root)[data-colour|="dim"]::-moz-selection {
    background-color: #1c1c1c;
}

*:root *:not(:root)[data-colour|="black"]::-moz-selection {
    background-color: #0c0c0c;
}

*:root *:not(:root)[data-colour|="transparent"]::-moz-selection {
    background-color: transparent;
}

*:root *:not(:root)[data-colour|="inherit"]::-moz-selection {
    background-color: inherit;
}
