/*  INHERITANCE  */

*:root * {
    color: inherit;
    background: transparent;
    border-color: currentColor;
    outline-color: currentColor;
    text-decoration-color: currentColor;
}

*:root:root:root a[href]:hover *, *:root:root:root *[data-colour] *:not([data-colour]) {
    color: inherit;
}

/*  TRANSITIONS  */

a[href], *.colour-link, *[data-colour-transition] {
    transition: color .5s, background-color .5s, line-colour .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, text-emphasis-color .5s, fill .5s, stroke .5s;
}

/*  ANCHOR BASICS  */

a[href] {
    text-decoration-color: currentColor;
}

a[href]:hover {
    text-decoration-color: transparent;
}

/*  BASIC COLOURING  */

*:root:root:root *[data-colour|="cyan"] {
    color: #31b9db;
}

*:root:root:root mark[data-colour|="cyan"], *:root:root:root a[href][data-colour|="cyan"]:hover, *:root:root:root *.colour-link[data-colour|="cyan"]:hover {
    background-color: #31b9db;
}

*:root:root:root *[data-colour|="blue"] {
    color: #7476fc;
}

*:root:root:root mark[data-colour|="blue"], *:root:root:root a[href][data-colour|="blue"]:hover, *:root:root:root *.colour-link[data-colour|="blue"]:hover {
    background-color: #7476fc;
}

*:root:root:root *[data-colour|="purple"] {
    color: #c258f2;
}

*:root:root:root mark[data-colour|="purple"], *:root:root:root a[href][data-colour|="purple"]:hover, *:root:root:root *.colour-link[data-colour|="purple"]:hover {
    background-color: #c258f2;
}

*:root:root:root *[data-colour|="magenta"] {
    color: #e63ca4;
}

*:root:root:root mark[data-colour|="magenta"], *:root:root:root a[href][data-colour|="magenta"]:hover, *:root:root:root *.colour-link[data-colour|="magenta"]:hover {
    background-color: #e63ca4;
}

*:root:root:root *[data-colour|="red"] {
    color: #e83f2c;
}

*:root:root:root mark[data-colour|="red"], *:root:root:root a[href][data-colour|="red"]:hover, *:root:root:root *.colour-link[data-colour|="red"]:hover {
    background-color: #e83f2c;
}

*:root:root:root *[data-colour|="yellow"] {
    color: #f6d037;
}

*:root:root:root mark[data-colour|="yellow"], *:root:root:root a[href][data-colour|="yellow"]:hover, *:root:root:root *.colour-link[data-colour|="yellow"]:hover {
    background-color: #f6d037;
}

*:root:root:root *[data-colour|="green"] {
    color: #6ad622;
}

*:root:root:root mark[data-colour|="green"], *:root:root:root a[href][data-colour|="green"]:hover, *:root:root:root *.colour-link[data-colour|="green"]:hover {
    background-color: #6ad622;
}

*:root:root:root *[data-colour|="teal"] {
    color: #49cfa2;
}

*:root:root:root mark[data-colour|="teal"], *:root:root:root a[href][data-colour|="teal"]:hover, *:root:root:root *.colour-link[data-colour|="teal"]:hover {
    background-color: #49cfa2;
}

*:root:root:root *[data-colour|="cyan-light"] {
    color: #bfe7f2;
}

*:root:root:root mark[data-colour|="cyan-light"], *:root:root:root a[href][data-colour|="cyan-light"]:hover, *:root:root:root *.colour-link[data-colour|="cyan-light"]:hover {
    background-color: #bfe7f2;
}

*:root:root:root *[data-colour|="blue-light"] {
    color: #d0d1f6;
}

*:root:root:root mark[data-colour|="blue-light"], *:root:root:root a[href][data-colour|="blue-light"]:hover, *:root:root:root *.colour-link[data-colour|="blue-light"]:hover {
    background-color: #d0d1f6;
}

*:root:root:root *[data-colour|="purple-light"] {
    color: #eabdff;
}

*:root:root:root mark[data-colour|="purple-light"], *:root:root:root a[href][data-colour|="purple-light"]:hover, *:root:root:root *.colour-link[data-colour|="purple-light"]:hover {
    background-color: #eabdff;
}

*:root:root:root *[data-colour|="magenta-light"] {
    color: #f0b2d8;
}

*:root:root:root mark[data-colour|="magenta-light"], *:root:root:root a[href][data-colour|="magenta-light"]:hover, *:root:root:root *.colour-link[data-colour|="magenta-light"]:hover {
    background-color: #f0b2d8;
}

*:root:root:root *[data-colour|="red-light"] {
    color: #f9a59b;
}

*:root:root:root mark[data-colour|="red-light"], *:root:root:root a[href][data-colour|="red-light"]:hover, *:root:root:root *.colour-link[data-colour|="red-light"]:hover {
    background-color: #f9a59b;
}

*:root:root:root *[data-colour|="yellow-light"] {
    color: #fcf0be;
}

*:root:root:root mark[data-colour|="yellow-light"], *:root:root:root a[href][data-colour|="yellow-light"]:hover, *:root:root:root *.colour-link[data-colour|="yellow-light"]:hover {
    background-color: #fcf0be;
}

*:root:root:root *[data-colour|="green-light"] {
    color: #d5fcbb;
}

*:root:root:root mark[data-colour|="green-light"], *:root:root:root a[href][data-colour|="green-light"]:hover, *:root:root:root *.colour-link[data-colour|="green-light"]:hover {
    background-color: #d5fcbb;
}

*:root:root:root *[data-colour|="teal-light"] {
    color: #bdf0df;
}

*:root:root:root mark[data-colour|="teal-light"], *:root:root:root a[href][data-colour|="teal-light"]:hover, *:root:root:root *.colour-link[data-colour|="teal-light"]:hover {
    background-color: #bdf0df;
}

*:root:root:root *[data-colour|="cyan-dark"] {
    color: #00495c;
}

*:root:root:root mark[data-colour|="cyan-dark"], *:root:root:root a[href][data-colour|="cyan-dark"]:hover, *:root:root:root *.colour-link[data-colour|="cyan-dark"]:hover {
    background-color: #00495c;
}

*:root:root:root *[data-colour|="blue-dark"] {
    color: #383966;
}

*:root:root:root mark[data-colour|="blue-dark"], *:root:root:root a[href][data-colour|="blue-dark"]:hover, *:root:root:root *.colour-link[data-colour|="blue-dark"]:hover {
    background-color: #383966;
}

*:root:root:root *[data-colour|="purple-dark"] {
    color: #4c3159;
}

*:root:root:root mark[data-colour|="purple-dark"], *:root:root:root a[href][data-colour|="purple-dark"]:hover, *:root:root:root *.colour-link[data-colour|="purple-dark"]:hover {
    background-color: #4c3159;
}

*:root:root:root *[data-colour|="magenta-dark"] {
    color: #592846;
}

*:root:root:root mark[data-colour|="magenta-dark"], *:root:root:root a[href][data-colour|="magenta-dark"]:hover, *:root:root:root *.colour-link[data-colour|="magenta-dark"]:hover {
    background-color: #592846;
}

*:root:root:root *[data-colour|="red-dark"] {
    color: #5d2721;
}

*:root:root:root mark[data-colour|="red-dark"], *:root:root:root a[href][data-colour|="red-dark"]:hover, *:root:root:root *.colour-link[data-colour|="red-dark"]:hover {
    background-color: #5d2721;
}

*:root:root:root *[data-colour|="yellow-dark"] {
    color: #4f420d;
}

*:root:root:root mark[data-colour|="yellow-dark"], *:root:root:root a[href][data-colour|="yellow-dark"]:hover, *:root:root:root *.colour-link[data-colour|="yellow-dark"]:hover {
    background-color: #4f420d;
}

*:root:root:root *[data-colour|="green-dark"] {
    color: #1f4505;
}

*:root:root:root mark[data-colour|="green-dark"], *:root:root:root a[href][data-colour|="green-dark"]:hover, *:root:root:root *.colour-link[data-colour|="green-dark"]:hover {
    background-color: #1f4505;
}

*:root:root:root *[data-colour|="teal-dark"] {
    color: #1c4b3b;
}

*:root:root:root mark[data-colour|="teal-dark"], *:root:root:root a[href][data-colour|="teal-dark"]:hover, *:root:root:root *.colour-link[data-colour|="teal-dark"]:hover {
    background-color: #1c4b3b;
}

*:root:root:root *[data-colour|="white"] {
    color: #f5f5f5;
}

*:root:root:root mark[data-colour|="white"], *:root:root:root a[href][data-colour|="white"]:hover, *:root:root:root *.colour-link[data-colour|="white"]:hover {
    background-color: #f5f5f5;
}

*:root:root:root *[data-colour|="bright"] {
    color: #cccccc;
}

*:root:root:root mark[data-colour|="bright"], *:root:root:root a[href][data-colour|="bright"]:hover, *:root:root:root *.colour-link[data-colour|="bright"]:hover {
    background-color: #cccccc;
}

*:root:root:root *[data-colour|="light"] {
    color: #a3a3a3;
}

*:root:root:root mark[data-colour|="light"], *:root:root:root a[href][data-colour|="light"]:hover, *:root:root:root *.colour-link[data-colour|="light"]:hover {
    background-color: #a3a3a3;
}

*:root:root:root *[data-colour|="medium"] {
    color: #828282;
}

*:root:root:root mark[data-colour|="medium"], *:root:root:root a[href][data-colour|="medium"]:hover, *:root:root:root *.colour-link[data-colour|="medium"]:hover {
    background-color: #828282;
}

*:root:root:root *[data-colour|="regular"] {
    color: #636363;
}

*:root:root:root mark[data-colour|="regular"], *:root:root:root a[href][data-colour|="regular"]:hover, *:root:root:root *.colour-link[data-colour|="regular"]:hover {
    background-color: #636363;
}

*:root:root:root *[data-colour|="dark"] {
    color: #3b3b3b;
}

*:root:root:root mark[data-colour|="dark"], *:root:root:root a[href][data-colour|="dark"]:hover, *:root:root:root *.colour-link[data-colour|="dark"]:hover {
    background-color: #3b3b3b;
}

*:root:root:root *[data-colour|="dim"] {
    color: #1c1c1c;
}

*:root:root:root mark[data-colour|="dim"], *:root:root:root a[href][data-colour|="dim"]:hover, *:root:root:root *.colour-link[data-colour|="dim"]:hover {
    background-color: #1c1c1c;
}

*:root:root:root *[data-colour|="black"] {
    color: #0c0c0c;
}

*:root:root:root mark[data-colour|="black"], *:root:root:root a[href][data-colour|="black"]:hover, *:root:root:root *.colour-link[data-colour|="black"]:hover {
    background-color: #0c0c0c;
}

*:root:root:root *[data-colour|="transparent"] {
    color: transparent;
}

*:root:root:root mark[data-colour|="transparent"], *:root:root:root a[href][data-colour|="transparent"]:hover, *:root:root:root *.colour-link[data-colour|="transparent"]:hover {
    background-color: transparent;
}

*:root:root:root *[data-colour|="inherit"] {
    color: inherit;
}

*:root:root:root mark[data-colour|="inherit"], *:root:root:root a[href][data-colour|="inherit"]:hover, *:root:root:root *.colour-link[data-colour|="inherit"]:hover {
    background-color: inherit;
}

*:root:root:root *[data-colour-background|="cyan"] {
    background-color: #31b9db;
}

*:root:root:root *[data-colour-background|="blue"] {
    background-color: #7476fc;
}

*:root:root:root *[data-colour-background|="purple"] {
    background-color: #c258f2;
}

*:root:root:root *[data-colour-background|="magenta"] {
    background-color: #e63ca4;
}

*:root:root:root *[data-colour-background|="red"] {
    background-color: #e83f2c;
}

*:root:root:root *[data-colour-background|="yellow"] {
    background-color: #f6d037;
}

*:root:root:root *[data-colour-background|="green"] {
    background-color: #6ad622;
}

*:root:root:root *[data-colour-background|="teal"] {
    background-color: #49cfa2;
}

*:root:root:root *[data-colour-background|="cyan-light"] {
    background-color: #bfe7f2;
}

*:root:root:root *[data-colour-background|="blue-light"] {
    background-color: #d0d1f6;
}

*:root:root:root *[data-colour-background|="purple-light"] {
    background-color: #eabdff;
}

*:root:root:root *[data-colour-background|="magenta-light"] {
    background-color: #f0b2d8;
}

*:root:root:root *[data-colour-background|="red-light"] {
    background-color: #f9a59b;
}

*:root:root:root *[data-colour-background|="yellow-light"] {
    background-color: #fcf0be;
}

*:root:root:root *[data-colour-background|="green-light"] {
    background-color: #d5fcbb;
}

*:root:root:root *[data-colour-background|="teal-light"] {
    background-color: #bdf0df;
}

*:root:root:root *[data-colour-background|="cyan-dark"] {
    background-color: #00495c;
}

*:root:root:root *[data-colour-background|="blue-dark"] {
    background-color: #383966;
}

*:root:root:root *[data-colour-background|="purple-dark"] {
    background-color: #4c3159;
}

*:root:root:root *[data-colour-background|="magenta-dark"] {
    background-color: #592846;
}

*:root:root:root *[data-colour-background|="red-dark"] {
    background-color: #5d2721;
}

*:root:root:root *[data-colour-background|="yellow-dark"] {
    background-color: #4f420d;
}

*:root:root:root *[data-colour-background|="green-dark"] {
    background-color: #1f4505;
}

*:root:root:root *[data-colour-background|="teal-dark"] {
    background-color: #1c4b3b;
}

*:root:root:root *[data-colour-background|="white"] {
    background-color: #f5f5f5;
}

*:root:root:root *[data-colour-background|="bright"] {
    background-color: #cccccc;
}

*:root:root:root *[data-colour-background|="light"] {
    background-color: #a3a3a3;
}

*:root:root:root *[data-colour-background|="medium"] {
    background-color: #828282;
}

*:root:root:root *[data-colour-background|="regular"] {
    background-color: #636363;
}

*:root:root:root *[data-colour-background|="dark"] {
    background-color: #3b3b3b;
}

*:root:root:root *[data-colour-background|="dim"] {
    background-color: #1c1c1c;
}

*:root:root:root *[data-colour-background|="black"] {
    background-color: #0c0c0c;
}

*:root:root:root *[data-colour-background|="transparent"] {
    background-color: transparent;
}

*:root:root:root *[data-colour-background|="inherit"] {
    background-color: inherit;
}

/*  ROOT COLOURS  */

*:root[data-colour|="cyan"] {
    color: #31b9db;
}

*:root[data-colour|="cyan"] mark, *:root[data-colour|="cyan"] a[href]:hover, *:root[data-colour|="cyan"] *.colour-link:hover {
    background-color: #31b9db;
}

*:root[data-colour|="blue"] {
    color: #7476fc;
}

*:root[data-colour|="blue"] mark, *:root[data-colour|="blue"] a[href]:hover, *:root[data-colour|="blue"] *.colour-link:hover {
    background-color: #7476fc;
}

*:root[data-colour|="purple"] {
    color: #c258f2;
}

*:root[data-colour|="purple"] mark, *:root[data-colour|="purple"] a[href]:hover, *:root[data-colour|="purple"] *.colour-link:hover {
    background-color: #c258f2;
}

*:root[data-colour|="magenta"] {
    color: #e63ca4;
}

*:root[data-colour|="magenta"] mark, *:root[data-colour|="magenta"] a[href]:hover, *:root[data-colour|="magenta"] *.colour-link:hover {
    background-color: #e63ca4;
}

*:root[data-colour|="red"] {
    color: #e83f2c;
}

*:root[data-colour|="red"] mark, *:root[data-colour|="red"] a[href]:hover, *:root[data-colour|="red"] *.colour-link:hover {
    background-color: #e83f2c;
}

*:root[data-colour|="yellow"] {
    color: #f6d037;
}

*:root[data-colour|="yellow"] mark, *:root[data-colour|="yellow"] a[href]:hover, *:root[data-colour|="yellow"] *.colour-link:hover {
    background-color: #f6d037;
}

*:root[data-colour|="green"] {
    color: #6ad622;
}

*:root[data-colour|="green"] mark, *:root[data-colour|="green"] a[href]:hover, *:root[data-colour|="green"] *.colour-link:hover {
    background-color: #6ad622;
}

*:root[data-colour|="teal"] {
    color: #49cfa2;
}

*:root[data-colour|="teal"] mark, *:root[data-colour|="teal"] a[href]:hover, *:root[data-colour|="teal"] *.colour-link:hover {
    background-color: #49cfa2;
}

*:root[data-colour|="cyan-light"] {
    color: #bfe7f2;
}

*:root[data-colour|="cyan-light"] mark, *:root[data-colour|="cyan-light"] a[href]:hover, *:root[data-colour|="cyan-light"] *.colour-link:hover {
    background-color: #bfe7f2;
}

*:root[data-colour|="blue-light"] {
    color: #d0d1f6;
}

*:root[data-colour|="blue-light"] mark, *:root[data-colour|="blue-light"] a[href]:hover, *:root[data-colour|="blue-light"] *.colour-link:hover {
    background-color: #d0d1f6;
}

*:root[data-colour|="purple-light"] {
    color: #eabdff;
}

*:root[data-colour|="purple-light"] mark, *:root[data-colour|="purple-light"] a[href]:hover, *:root[data-colour|="purple-light"] *.colour-link:hover {
    background-color: #eabdff;
}

*:root[data-colour|="magenta-light"] {
    color: #f0b2d8;
}

*:root[data-colour|="magenta-light"] mark, *:root[data-colour|="magenta-light"] a[href]:hover, *:root[data-colour|="magenta-light"] *.colour-link:hover {
    background-color: #f0b2d8;
}

*:root[data-colour|="red-light"] {
    color: #f9a59b;
}

*:root[data-colour|="red-light"] mark, *:root[data-colour|="red-light"] a[href]:hover, *:root[data-colour|="red-light"] *.colour-link:hover {
    background-color: #f9a59b;
}

*:root[data-colour|="yellow-light"] {
    color: #fcf0be;
}

*:root[data-colour|="yellow-light"] mark, *:root[data-colour|="yellow-light"] a[href]:hover, *:root[data-colour|="yellow-light"] *.colour-link:hover {
    background-color: #fcf0be;
}

*:root[data-colour|="green-light"] {
    color: #d5fcbb;
}

*:root[data-colour|="green-light"] mark, *:root[data-colour|="green-light"] a[href]:hover, *:root[data-colour|="green-light"] *.colour-link:hover {
    background-color: #d5fcbb;
}

*:root[data-colour|="teal-light"] {
    color: #bdf0df;
}

*:root[data-colour|="teal-light"] mark, *:root[data-colour|="teal-light"] a[href]:hover, *:root[data-colour|="teal-light"] *.colour-link:hover {
    background-color: #bdf0df;
}

*:root[data-colour|="cyan-dark"] {
    color: #00495c;
}

*:root[data-colour|="cyan-dark"] mark, *:root[data-colour|="cyan-dark"] a[href]:hover, *:root[data-colour|="cyan-dark"] *.colour-link:hover {
    background-color: #00495c;
}

*:root[data-colour|="blue-dark"] {
    color: #383966;
}

*:root[data-colour|="blue-dark"] mark, *:root[data-colour|="blue-dark"] a[href]:hover, *:root[data-colour|="blue-dark"] *.colour-link:hover {
    background-color: #383966;
}

*:root[data-colour|="purple-dark"] {
    color: #4c3159;
}

*:root[data-colour|="purple-dark"] mark, *:root[data-colour|="purple-dark"] a[href]:hover, *:root[data-colour|="purple-dark"] *.colour-link:hover {
    background-color: #4c3159;
}

*:root[data-colour|="magenta-dark"] {
    color: #592846;
}

*:root[data-colour|="magenta-dark"] mark, *:root[data-colour|="magenta-dark"] a[href]:hover, *:root[data-colour|="magenta-dark"] *.colour-link:hover {
    background-color: #592846;
}

*:root[data-colour|="red-dark"] {
    color: #5d2721;
}

*:root[data-colour|="red-dark"] mark, *:root[data-colour|="red-dark"] a[href]:hover, *:root[data-colour|="red-dark"] *.colour-link:hover {
    background-color: #5d2721;
}

*:root[data-colour|="yellow-dark"] {
    color: #4f420d;
}

*:root[data-colour|="yellow-dark"] mark, *:root[data-colour|="yellow-dark"] a[href]:hover, *:root[data-colour|="yellow-dark"] *.colour-link:hover {
    background-color: #4f420d;
}

*:root[data-colour|="green-dark"] {
    color: #1f4505;
}

*:root[data-colour|="green-dark"] mark, *:root[data-colour|="green-dark"] a[href]:hover, *:root[data-colour|="green-dark"] *.colour-link:hover {
    background-color: #1f4505;
}

*:root[data-colour|="teal-dark"] {
    color: #1c4b3b;
}

*:root[data-colour|="teal-dark"] mark, *:root[data-colour|="teal-dark"] a[href]:hover, *:root[data-colour|="teal-dark"] *.colour-link:hover {
    background-color: #1c4b3b;
}

*:root[data-colour|="white"] {
    color: #f5f5f5;
}

*:root[data-colour|="white"] mark, *:root[data-colour|="white"] a[href]:hover, *:root[data-colour|="white"] *.colour-link:hover {
    background-color: #f5f5f5;
}

*:root[data-colour|="white"] aside, *:root[data-colour|="white"] figcaption, *:root[data-colour|="white"] footer, *:root[data-colour|="white"] s, *:root[data-colour|="white"] small, *:root[data-colour|="white"] *.colour-secondary {
    color: #a3a3a3;
}

*:root[data-colour|="bright"] {
    color: #cccccc;
}

*:root[data-colour|="bright"] mark, *:root[data-colour|="bright"] a[href]:hover, *:root[data-colour|="bright"] *.colour-link:hover {
    background-color: #cccccc;
}

*:root[data-colour|="bright"] *.colour-accent,
*:root[data-colour|="bright"] code, *:root[data-colour|="bright"] pre, *:root[data-colour|="bright"] *.colour-code,
*:root[data-colour|="bright"] b, *:root[data-colour|="bright"] cite, *:root[data-colour|="bright"] em, *:root[data-colour|="bright"] i, *:root[data-colour|="bright"] time, *:root[data-colour|="bright"] u, *:root[data-colour|="bright"] *.colour-emphasis,
*:root[data-colour|="bright"] caption, *:root[data-colour|="bright"] h1, *:root[data-colour|="bright"] h2, *:root[data-colour|="bright"] h3, *:root[data-colour|="bright"] h4, *:root[data-colour|="bright"] h5, *:root[data-colour|="bright"] h6, *:root[data-colour|="bright"] header, *:root[data-colour|="bright"] th, *:root[data-colour|="bright"] thead, *:root[data-colour|="bright"] *.colour-heading,
*:root[data-colour|="bright"] a[href], *:root[data-colour|="bright"] *.colour-link,
*:root[data-colour|="bright"] strong, *:root[data-colour|="bright"] *.colour-strong {
    color: #f5f5f5;
}

*:root[data-colour|="bright"] aside, *:root[data-colour|="bright"] figcaption, *:root[data-colour|="bright"] footer, *:root[data-colour|="bright"] s, *:root[data-colour|="bright"] small, *:root[data-colour|="bright"] *.colour-secondary {
    color: #828282;
}

*:root[data-colour|="light"] {
    color: #a3a3a3;
}

*:root[data-colour|="light"] mark, *:root[data-colour|="light"] a[href]:hover, *:root[data-colour|="light"] *.colour-link:hover {
    background-color: #a3a3a3;
}

*:root[data-colour|="light"] code, *:root[data-colour|="light"] pre, *:root[data-colour|="light"] *.colour-code,
*:root[data-colour|="light"] strong, *:root[data-colour|="light"] *.colour-strong {
    color: #f5f5f5;
}

*:root[data-colour|="light"] *.colour-accent,
*:root[data-colour|="light"] b, *:root[data-colour|="light"] cite, *:root[data-colour|="light"] em, *:root[data-colour|="light"] i, *:root[data-colour|="light"] time, *:root[data-colour|="light"] u, *:root[data-colour|="light"] *.colour-emphasis,
*:root[data-colour|="light"] caption, *:root[data-colour|="light"] h1, *:root[data-colour|="light"] h2, *:root[data-colour|="light"] h3, *:root[data-colour|="light"] h4, *:root[data-colour|="light"] h5, *:root[data-colour|="light"] h6, *:root[data-colour|="light"] header, *:root[data-colour|="light"] th, *:root[data-colour|="light"] thead, *:root[data-colour|="light"] *.colour-heading,
*:root[data-colour|="light"] a[href], *:root[data-colour|="light"] *.colour-link {
    color: #cccccc;
}

*:root[data-colour|="light"] aside, *:root[data-colour|="light"] figcaption, *:root[data-colour|="light"] footer, *:root[data-colour|="light"] s, *:root[data-colour|="light"] small, *:root[data-colour|="light"] *.colour-secondary {
    color: #636363;
}

*:root[data-colour|="medium"] {
    color: #828282;
}

*:root[data-colour|="medium"] mark, *:root[data-colour|="medium"] a[href]:hover, *:root[data-colour|="medium"] *.colour-link:hover {
    background-color: #828282;
}

*:root[data-colour|="medium"] code, *:root[data-colour|="medium"] pre, *:root[data-colour|="medium"] *.colour-code {
    color: #f5f5f5;
}

*:root[data-colour|="medium"] strong, *:root[data-colour|="medium"] *.colour-strong {
    color: #cccccc;
}

*:root[data-colour|="medium"] *.colour-accent,
*:root[data-colour|="medium"] b, *:root[data-colour|="medium"] cite, *:root[data-colour|="medium"] em, *:root[data-colour|="medium"] i, *:root[data-colour|="medium"] time, *:root[data-colour|="medium"] u, *:root[data-colour|="medium"] *.colour-emphasis,
*:root[data-colour|="medium"] caption, *:root[data-colour|="medium"] h1, *:root[data-colour|="medium"] h2, *:root[data-colour|="medium"] h3, *:root[data-colour|="medium"] h4, *:root[data-colour|="medium"] h5, *:root[data-colour|="medium"] h6, *:root[data-colour|="medium"] header, *:root[data-colour|="medium"] th, *:root[data-colour|="medium"] thead, *:root[data-colour|="medium"] *.colour-heading,
*:root[data-colour|="medium"] a[href], *:root[data-colour|="medium"] *.colour-link {
    color: #a3a3a3;
}

*:root[data-colour|="medium"] aside, *:root[data-colour|="medium"] figcaption, *:root[data-colour|="medium"] footer, *:root[data-colour|="medium"] s, *:root[data-colour|="medium"] small, *:root[data-colour|="medium"] *.colour-secondary {
    color: #3b3b3b;
}

*:root[data-colour|="regular"] {
    color: #636363;
}

*:root[data-colour|="regular"] mark, *:root[data-colour|="regular"] a[href]:hover, *:root[data-colour|="regular"] *.colour-link:hover {
    background-color: #636363;
}

*:root[data-colour|="regular"] code, *:root[data-colour|="regular"] pre, *:root[data-colour|="regular"] *.colour-code {
    color: #0c0c0c;
}

*:root[data-colour|="regular"] strong, *:root[data-colour|="regular"] *.colour-strong {
    color: #1c1c1c;
}

*:root[data-colour|="regular"] *.colour-accent,
*:root[data-colour|="regular"] b, *:root[data-colour|="regular"] cite, *:root[data-colour|="regular"] em, *:root[data-colour|="regular"] i, *:root[data-colour|="regular"] time, *:root[data-colour|="regular"] u, *:root[data-colour|="regular"] *.colour-emphasis,
*:root[data-colour|="regular"] caption, *:root[data-colour|="regular"] h1, *:root[data-colour|="regular"] h2, *:root[data-colour|="regular"] h3, *:root[data-colour|="regular"] h4, *:root[data-colour|="regular"] h5, *:root[data-colour|="regular"] h6, *:root[data-colour|="regular"] header, *:root[data-colour|="regular"] th, *:root[data-colour|="regular"] thead, *:root[data-colour|="regular"] *.colour-heading,
*:root[data-colour|="regular"] a[href], *:root[data-colour|="regular"] *.colour-link {
    color: #3b3b3b;
}

*:root[data-colour|="regular"] aside, *:root[data-colour|="regular"] figcaption, *:root[data-colour|="regular"] footer, *:root[data-colour|="regular"] s, *:root[data-colour|="regular"] small, *:root[data-colour|="regular"] *.colour-secondary {
    color: #a3a3a3;
}

*:root[data-colour|="dark"] {
    color: #3b3b3b;
}

*:root[data-colour|="dark"] mark, *:root[data-colour|="dark"] a[href]:hover, *:root[data-colour|="dark"] *.colour-link:hover {
    background-color: #3b3b3b;
}

*:root[data-colour|="dark"] code, *:root[data-colour|="dark"] pre, *:root[data-colour|="dark"] *.colour-code,
*:root[data-colour|="dark"] strong, *:root[data-colour|="dark"] *.colour-strong {
    color: #0c0c0c;
}

*:root[data-colour|="dark"] *.colour-accent,
*:root[data-colour|="dark"] b, *:root[data-colour|="dark"] cite, *:root[data-colour|="dark"] em, *:root[data-colour|="dark"] i, *:root[data-colour|="dark"] time, *:root[data-colour|="dark"] u, *:root[data-colour|="dark"] *.colour-emphasis,
*:root[data-colour|="dark"] caption, *:root[data-colour|="dark"] h1, *:root[data-colour|="dark"] h2, *:root[data-colour|="dark"] h3, *:root[data-colour|="dark"] h4, *:root[data-colour|="dark"] h5, *:root[data-colour|="dark"] h6, *:root[data-colour|="dark"] header, *:root[data-colour|="dark"] th, *:root[data-colour|="dark"] thead, *:root[data-colour|="dark"] *.colour-heading,
*:root[data-colour|="dark"] a[href], *:root[data-colour|="dark"] *.colour-link {
    color: #1c1c1c;
}

*:root[data-colour|="dark"] aside, *:root[data-colour|="dark"] figcaption, *:root[data-colour|="dark"] footer, *:root[data-colour|="dark"] s, *:root[data-colour|="dark"] small, *:root[data-colour|="dark"] *.colour-secondary {
    color: #828282;
}

*:root[data-colour|="dim"] {
    color: #1c1c1c;
}

*:root[data-colour|="dim"] mark, *:root[data-colour|="dim"] a[href]:hover, *:root[data-colour|="dim"] *.colour-link:hover {
    background-color: #1c1c1c;
}

*:root[data-colour|="dim"] *.colour-accent,
*:root[data-colour|="dim"] code, *:root[data-colour|="dim"] pre, *:root[data-colour|="dim"] *.colour-code,
*:root[data-colour|="dim"] b, *:root[data-colour|="dim"] cite, *:root[data-colour|="dim"] em, *:root[data-colour|="dim"] i, *:root[data-colour|="dim"] time, *:root[data-colour|="dim"] u, *:root[data-colour|="dim"] *.colour-emphasis,
*:root[data-colour|="dim"] caption, *:root[data-colour|="dim"] h1, *:root[data-colour|="dim"] h2, *:root[data-colour|="dim"] h3, *:root[data-colour|="dim"] h4, *:root[data-colour|="dim"] h5, *:root[data-colour|="dim"] h6, *:root[data-colour|="dim"] header, *:root[data-colour|="dim"] th, *:root[data-colour|="dim"] thead, *:root[data-colour|="dim"] *.colour-heading,
*:root[data-colour|="dim"] a[href], *:root[data-colour|="dim"] *.colour-link,
*:root[data-colour|="dim"] strong, *:root[data-colour|="dim"] *.colour-strong {
    color: #0c0c0c;
}

*:root[data-colour|="dim"] aside, *:root[data-colour|="dim"] figcaption, *:root[data-colour|="dim"] footer, *:root[data-colour|="dim"] small, *:root[data-colour|="dim"] *.colour-secondary {
    color: #636363;
}

*:root[data-colour|="black"] {
    color: #0c0c0c;
}

*:root[data-colour|="black"] mark, *:root[data-colour|="black"] a[href]:hover, *:root[data-colour|="black"] *.colour-link:hover {
    background-color: #0c0c0c;
}

*:root[data-colour|="black"] aside, *:root[data-colour|="black"] figcaption, *:root[data-colour|="black"] footer, *:root[data-colour|="black"] s, *:root[data-colour|="black"] small, *:root[data-colour|="black"] *.colour-secondary {
    color: #3b3b3b;
}

*:root[data-colour|="transparent"] {
    color: transparent;
}

*:root[data-colour|="transparent"] mark, *:root[data-colour|="transparent"] a[href]:hover, *:root[data-colour|="transparent"] *.colour-link:hover {
    background-color: transparent;
}

*:root[data-colour|="inherit"] {
    color: inherit;
}

*:root[data-colour|="inherit"] mark, *:root[data-colour|="inherit"] a[href]:hover, *:root[data-colour|="inherit"] *.colour-link:hover {
    background-color: inherit;
}

*:root[data-colour-background|="cyan"] {
    background-color: #31b9db;
}

*:root[data-colour-background|="cyan"] mark, *:root[data-colour-background|="cyan"] a[href]:hover, *:root[data-colour-background|="cyan"] *.colour-link:hover {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] {
    background-color: #7476fc;
}

*:root[data-colour-background|="blue"] mark, *:root[data-colour-background|="blue"] a[href]:hover, *:root[data-colour-background|="blue"] *.colour-link:hover {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] {
    background-color: #c258f2;
}

*:root[data-colour-background|="purple"] mark, *:root[data-colour-background|="purple"] a[href]:hover, *:root[data-colour-background|="purple"] *.colour-link:hover {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] {
    background-color: #e63ca4;
}

*:root[data-colour-background|="magenta"] mark, *:root[data-colour-background|="magenta"] a[href]:hover, *:root[data-colour-background|="magenta"] *.colour-link:hover {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] {
    background-color: #e83f2c;
}

*:root[data-colour-background|="red"] mark, *:root[data-colour-background|="red"] a[href]:hover, *:root[data-colour-background|="red"] *.colour-link:hover {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] {
    background-color: #f6d037;
}

*:root[data-colour-background|="yellow"] mark, *:root[data-colour-background|="yellow"] a[href]:hover, *:root[data-colour-background|="yellow"] *.colour-link:hover {
    color: #f6d037;
}

*:root[data-colour-background|="green"] {
    background-color: #6ad622;
}

*:root[data-colour-background|="green"] mark, *:root[data-colour-background|="green"] a[href]:hover, *:root[data-colour-background|="green"] *.colour-link:hover {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] {
    background-color: #49cfa2;
}

*:root[data-colour-background|="teal"] mark, *:root[data-colour-background|="teal"] a[href]:hover, *:root[data-colour-background|="teal"] *.colour-link:hover {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] {
    background-color: #bfe7f2;
}

*:root[data-colour-background|="cyan-light"] mark, *:root[data-colour-background|="cyan-light"] a[href]:hover, *:root[data-colour-background|="cyan-light"] *.colour-link:hover {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] {
    background-color: #d0d1f6;
}

*:root[data-colour-background|="blue-light"] mark, *:root[data-colour-background|="blue-light"] a[href]:hover, *:root[data-colour-background|="blue-light"] *.colour-link:hover {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] {
    background-color: #eabdff;
}

*:root[data-colour-background|="purple-light"] mark, *:root[data-colour-background|="purple-light"] a[href]:hover, *:root[data-colour-background|="purple-light"] *.colour-link:hover {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] {
    background-color: #f0b2d8;
}

*:root[data-colour-background|="magenta-light"] mark, *:root[data-colour-background|="magenta-light"] a[href]:hover, *:root[data-colour-background|="magenta-light"] *.colour-link:hover {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] {
    background-color: #f9a59b;
}

*:root[data-colour-background|="red-light"] mark, *:root[data-colour-background|="red-light"] a[href]:hover, *:root[data-colour-background|="red-light"] *.colour-link:hover {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] {
    background-color: #fcf0be;
}

*:root[data-colour-background|="yellow-light"] mark, *:root[data-colour-background|="yellow-light"] a[href]:hover, *:root[data-colour-background|="yellow-light"] *.colour-link:hover {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] {
    background-color: #d5fcbb;
}

*:root[data-colour-background|="green-light"] mark, *:root[data-colour-background|="green-light"] a[href]:hover, *:root[data-colour-background|="green-light"] *.colour-link:hover {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] {
    background-color: #bdf0df;
}

*:root[data-colour-background|="teal-light"] mark, *:root[data-colour-background|="teal-light"] a[href]:hover, *:root[data-colour-background|="teal-light"] *.colour-link:hover {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] {
    background-color: #00495c;
}

*:root[data-colour-background|="cyan-dark"] mark, *:root[data-colour-background|="cyan-dark"] a[href]:hover, *:root[data-colour-background|="cyan-dark"] *.colour-link:hover {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] {
    background-color: #383966;
}

*:root[data-colour-background|="blue-dark"] mark, *:root[data-colour-background|="blue-dark"] a[href]:hover, *:root[data-colour-background|="blue-dark"] *.colour-link:hover {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] {
    background-color: #4c3159;
}

*:root[data-colour-background|="purple-dark"] mark, *:root[data-colour-background|="purple-dark"] a[href]:hover, *:root[data-colour-background|="purple-dark"] *.colour-link:hover {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] {
    background-color: #592846;
}

*:root[data-colour-background|="magenta-dark"] mark, *:root[data-colour-background|="magenta-dark"] a[href]:hover, *:root[data-colour-background|="magenta-dark"] *.colour-link:hover {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] {
    background-color: #5d2721;
}

*:root[data-colour-background|="red-dark"] mark, *:root[data-colour-background|="red-dark"] a[href]:hover, *:root[data-colour-background|="red-dark"] *.colour-link:hover {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] {
    background-color: #4f420d;
}

*:root[data-colour-background|="yellow-dark"] mark, *:root[data-colour-background|="yellow-dark"] a[href]:hover, *:root[data-colour-background|="yellow-dark"] *.colour-link:hover {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] {
    background-color: #1f4505;
}

*:root[data-colour-background|="green-dark"] mark, *:root[data-colour-background|="green-dark"] a[href]:hover, *:root[data-colour-background|="green-dark"] *.colour-link:hover {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] {
    background-color: #1c4b3b;
}

*:root[data-colour-background|="teal-dark"] mark, *:root[data-colour-background|="teal-dark"] a[href]:hover, *:root[data-colour-background|="teal-dark"] *.colour-link:hover {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] {
    background-color: #f5f5f5;
}

*:root[data-colour-background|="white"] mark, *:root[data-colour-background|="white"] a[href]:hover, *:root[data-colour-background|="white"] *.colour-link:hover {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] {
    background-color: #cccccc;
}

*:root[data-colour-background|="bright"] mark, *:root[data-colour-background|="bright"] a[href]:hover, *:root[data-colour-background|="bright"] *.colour-link:hover {
    color: #cccccc;
}

*:root[data-colour-background|="light"] {
    background-color: #a3a3a3;
}

*:root[data-colour-background|="light"] mark, *:root[data-colour-background|="light"] a[href]:hover, *:root[data-colour-background|="light"] *.colour-link:hover {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] {
    background-color: #828282;
}

*:root[data-colour-background|="medium"] mark, *:root[data-colour-background|="medium"] a[href]:hover, *:root[data-colour-background|="medium"] *.colour-link:hover {
    color: #828282;
}

*:root[data-colour-background|="regular"] {
    background-color: #636363;
}

*:root[data-colour-background|="regular"] mark, *:root[data-colour-background|="regular"] a[href]:hover, *:root[data-colour-background|="regular"] *.colour-link:hover {
    color: #636363;
}

*:root[data-colour-background|="dark"] {
    background-color: #3b3b3b;
}

*:root[data-colour-background|="dark"] mark, *:root[data-colour-background|="dark"] a[href]:hover, *:root[data-colour-background|="dark"] *.colour-link:hover {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] {
    background-color: #1c1c1c;
}

*:root[data-colour-background|="dim"] mark, *:root[data-colour-background|="dim"] a[href]:hover, *:root[data-colour-background|="dim"] *.colour-link:hover {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] {
    background-color: #0c0c0c;
}

*:root[data-colour-background|="black"] mark, *:root[data-colour-background|="black"] a[href]:hover, *:root[data-colour-background|="black"] *.colour-link:hover {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] {
    background-color: inherit;
}

*:root[data-colour-background|="inherit"] mark, *:root[data-colour-background|="inherit"] a[href]:hover, *:root[data-colour-background|="inherit"] *.colour-link:hover {
    color: inherit;
}

*:root[data-colour-background|="transparent"] {
    background-color: transparent;
}

*:root[data-colour-background|="transparent"] mark, *:root[data-colour-background|="transparent"] a[href]:hover, *:root[data-colour-background|="transparent"] *.colour-link:hover {
    color: transparent;
}

/*  SELECTION COLOURS  */

*:root[data-colour-background|="cyan"] *::selection {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] *::selection {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] *::selection {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] *::selection {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] *::selection {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] *::selection {
    color: #f6d037;
}

*:root[data-colour-background|="green"] *::selection {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] *::selection {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] *::selection {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] *::selection {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] *::selection {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] *::selection {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] *::selection {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] *::selection {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] *::selection {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] *::selection {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] *::selection {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] *::selection {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] *::selection {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] *::selection {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] *::selection {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] *::selection {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] *::selection {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] *::selection {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] *::selection {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] *::selection {
    color: #cccccc;
}

*:root[data-colour-background|="light"] *::selection {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] *::selection {
    color: #828282;
}

*:root[data-colour-background|="regular"] *::selection {
    color: #636363;
}

*:root[data-colour-background|="dark"] *::selection {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] *::selection {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] *::selection {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] *::selection {
    color: inherit;
}

*:root[data-colour-background|="transparent"] *::selection {
    color: transparent;
}

*:root[data-colour|="cyan"] *::selection {
    background-color: #31b9db;
}

*:root[data-colour|="blue"] *::selection {
    background-color: #7476fc;
}

*:root[data-colour|="purple"] *::selection {
    background-color: #c258f2;
}

*:root[data-colour|="magenta"] *::selection {
    background-color: #e63ca4;
}

*:root[data-colour|="red"] *::selection {
    background-color: #e83f2c;
}

*:root[data-colour|="yellow"] *::selection {
    background-color: #f6d037;
}

*:root[data-colour|="green"] *::selection {
    background-color: #6ad622;
}

*:root[data-colour|="teal"] *::selection {
    background-color: #49cfa2;
}

*:root[data-colour|="cyan-light"] *::selection {
    background-color: #bfe7f2;
}

*:root[data-colour|="blue-light"] *::selection {
    background-color: #d0d1f6;
}

*:root[data-colour|="purple-light"] *::selection {
    background-color: #eabdff;
}

*:root[data-colour|="magenta-light"] *::selection {
    background-color: #f0b2d8;
}

*:root[data-colour|="red-light"] *::selection {
    background-color: #f9a59b;
}

*:root[data-colour|="yellow-light"] *::selection {
    background-color: #fcf0be;
}

*:root[data-colour|="green-light"] *::selection {
    background-color: #d5fcbb;
}

*:root[data-colour|="teal-light"] *::selection {
    background-color: #bdf0df;
}

*:root[data-colour|="cyan-dark"] *::selection {
    background-color: #00495c;
}

*:root[data-colour|="blue-dark"] *::selection {
    background-color: #383966;
}

*:root[data-colour|="purple-dark"] *::selection {
    background-color: #4c3159;
}

*:root[data-colour|="magenta-dark"] *::selection {
    background-color: #592846;
}

*:root[data-colour|="red-dark"] *::selection {
    background-color: #5d2721;
}

*:root[data-colour|="yellow-dark"] *::selection {
    background-color: #4f420d;
}

*:root[data-colour|="green-dark"] *::selection {
    background-color: #1f4505;
}

*:root[data-colour|="teal-dark"] *::selection {
    background-color: #1c4b3b;
}

*:root[data-colour|="white"] *::selection {
    background-color: #f5f5f5;
}

*:root[data-colour|="bright"] *::selection {
    background-color: #cccccc;
}

*:root[data-colour|="light"] *::selection {
    background-color: #a3a3a3;
}

*:root[data-colour|="medium"] *::selection {
    background-color: #828282;
}

*:root[data-colour|="regular"] *::selection {
    background-color: #636363;
}

*:root[data-colour|="dark"] *::selection {
    background-color: #3b3b3b;
}

*:root[data-colour|="dim"] *::selection {
    background-color: #1c1c1c;
}

*:root[data-colour|="black"] *::selection {
    background-color: #0c0c0c;
}

*:root[data-colour|="inherit"] *::selection {
    background-color: inherit;
}

*:root[data-colour|="transparent"] *::selection {
    background-color: transparent;
}

*:root:root:root *[data-colour|="cyan"]::selection {
    background-color: #31b9db;
}

*:root:root:root *[data-colour|="blue"]::selection {
    background-color: #7476fc;
}

*:root:root:root *[data-colour|="purple"]::selection {
    background-color: #c258f2;
}

*:root:root:root *[data-colour|="magenta"]::selection {
    background-color: #e63ca4;
}

*:root:root:root *[data-colour|="red"]::selection {
    background-color: #e83f2c;
}

*:root:root:root *[data-colour|="yellow"]::selection {
    background-color: #f6d037;
}

*:root:root:root *[data-colour|="green"]::selection {
    background-color: #6ad622;
}

*:root:root:root *[data-colour|="teal"]::selection {
    background-color: #49cfa2;
}

*:root:root:root *[data-colour|="cyan-light"]::selection {
    background-color: #bfe7f2;
}

*:root:root:root *[data-colour|="blue-light"]::selection {
    background-color: #d0d1f6;
}

*:root:root:root *[data-colour|="purple-light"]::selection {
    background-color: #eabdff;
}

*:root:root:root *[data-colour|="magenta-light"]::selection {
    background-color: #f0b2d8;
}

*:root:root:root *[data-colour|="red-light"]::selection {
    background-color: #f9a59b;
}

*:root:root:root *[data-colour|="yellow-light"]::selection {
    background-color: #fcf0be;
}

*:root:root:root *[data-colour|="green-light"]::selection {
    background-color: #d5fcbb;
}

*:root:root:root *[data-colour|="teal-light"]::selection {
    background-color: #bdf0df;
}

*:root:root:root *[data-colour|="cyan-dark"]::selection {
    background-color: #00495c;
}

*:root:root:root *[data-colour|="blue-dark"]::selection {
    background-color: #383966;
}

*:root:root:root *[data-colour|="purple-dark"]::selection {
    background-color: #4c3159;
}

*:root:root:root *[data-colour|="magenta-dark"]::selection {
    background-color: #592846;
}

*:root:root:root *[data-colour|="red-dark"]::selection {
    background-color: #5d2721;
}

*:root:root:root *[data-colour|="yellow-dark"]::selection {
    background-color: #4f420d;
}

*:root:root:root *[data-colour|="green-dark"]::selection {
    background-color: #1f4505;
}

*:root:root:root *[data-colour|="teal-dark"]::selection {
    background-color: #1c4b3b;
}

*:root:root:root *[data-colour|="white"]::selection {
    background-color: #f5f5f5;
}

*:root:root:root *[data-colour|="bright"]::selection {
    background-color: #cccccc;
}

*:root:root:root *[data-colour|="light"]::selection {
    background-color: #a3a3a3;
}

*:root:root:root *[data-colour|="medium"]::selection {
    background-color: #828282;
}

*:root:root:root *[data-colour|="regular"]::selection {
    background-color: #636363;
}

*:root:root:root *[data-colour|="dark"]::selection {
    background-color: #3b3b3b;
}

*:root:root:root *[data-colour|="dim"]::selection {
    background-color: #1c1c1c;
}

*:root:root:root *[data-colour|="black"]::selection {
    background-color: #0c0c0c;
}

*:root:root:root *[data-colour|="transparent"]::selection {
    background-color: transparent;
}

*:root:root:root *[data-colour|="inherit"]::selection {
    background-color: inherit;
}

/*  -MOZ-SELECTION COLOURS  */

*:root[data-colour-background|="cyan"] *::-moz-selection {
    color: #31b9db;
}

*:root[data-colour-background|="blue"] *::-moz-selection {
    color: #7476fc;
}

*:root[data-colour-background|="purple"] *::-moz-selection {
    color: #c258f2;
}

*:root[data-colour-background|="magenta"] *::-moz-selection {
    color: #e63ca4;
}

*:root[data-colour-background|="red"] *::-moz-selection {
    color: #e83f2c;
}

*:root[data-colour-background|="yellow"] *::-moz-selection {
    color: #f6d037;
}

*:root[data-colour-background|="green"] *::-moz-selection {
    color: #6ad622;
}

*:root[data-colour-background|="teal"] *::-moz-selection {
    color: #49cfa2;
}

*:root[data-colour-background|="cyan-light"] *::-moz-selection {
    color: #bfe7f2;
}

*:root[data-colour-background|="blue-light"] *::-moz-selection {
    color: #d0d1f6;
}

*:root[data-colour-background|="purple-light"] *::-moz-selection {
    color: #eabdff;
}

*:root[data-colour-background|="magenta-light"] *::-moz-selection {
    color: #f0b2d8;
}

*:root[data-colour-background|="red-light"] *::-moz-selection {
    color: #f9a59b;
}

*:root[data-colour-background|="yellow-light"] *::-moz-selection {
    color: #fcf0be;
}

*:root[data-colour-background|="green-light"] *::-moz-selection {
    color: #d5fcbb;
}

*:root[data-colour-background|="teal-light"] *::-moz-selection {
    color: #bdf0df;
}

*:root[data-colour-background|="cyan-dark"] *::-moz-selection {
    color: #00495c;
}

*:root[data-colour-background|="blue-dark"] *::-moz-selection {
    color: #383966;
}

*:root[data-colour-background|="purple-dark"] *::-moz-selection {
    color: #4c3159;
}

*:root[data-colour-background|="magenta-dark"] *::-moz-selection {
    color: #592846;
}

*:root[data-colour-background|="red-dark"] *::-moz-selection {
    color: #5d2721;
}

*:root[data-colour-background|="yellow-dark"] *::-moz-selection {
    color: #4f420d;
}

*:root[data-colour-background|="green-dark"] *::-moz-selection {
    color: #1f4505;
}

*:root[data-colour-background|="teal-dark"] *::-moz-selection {
    color: #1c4b3b;
}

*:root[data-colour-background|="white"] *::-moz-selection {
    color: #f5f5f5;
}

*:root[data-colour-background|="bright"] *::-moz-selection {
    color: #cccccc;
}

*:root[data-colour-background|="light"] *::-moz-selection {
    color: #a3a3a3;
}

*:root[data-colour-background|="medium"] *::-moz-selection {
    color: #828282;
}

*:root[data-colour-background|="regular"] *::-moz-selection {
    color: #636363;
}

*:root[data-colour-background|="dark"] *::-moz-selection {
    color: #3b3b3b;
}

*:root[data-colour-background|="dim"] *::-moz-selection {
    color: #1c1c1c;
}

*:root[data-colour-background|="black"] *::-moz-selection {
    color: #0c0c0c;
}

*:root[data-colour-background|="inherit"] *::-moz-selection {
    color: inherit;
}

*:root[data-colour-background|="transparent"] *::-moz-selection {
    color: transparent;
}

*:root[data-colour|="cyan"] *::-moz-selection {
    background-color: #31b9db;
}

*:root[data-colour|="blue"] *::-moz-selection {
    background-color: #7476fc;
}

*:root[data-colour|="purple"] *::-moz-selection {
    background-color: #c258f2;
}

*:root[data-colour|="magenta"] *::-moz-selection {
    background-color: #e63ca4;
}

*:root[data-colour|="red"] *::-moz-selection {
    background-color: #e83f2c;
}

*:root[data-colour|="yellow"] *::-moz-selection {
    background-color: #f6d037;
}

*:root[data-colour|="green"] *::-moz-selection {
    background-color: #6ad622;
}

*:root[data-colour|="teal"] *::-moz-selection {
    background-color: #49cfa2;
}

*:root[data-colour|="cyan-light"] *::-moz-selection {
    background-color: #bfe7f2;
}

*:root[data-colour|="blue-light"] *::-moz-selection {
    background-color: #d0d1f6;
}

*:root[data-colour|="purple-light"] *::-moz-selection {
    background-color: #eabdff;
}

*:root[data-colour|="magenta-light"] *::-moz-selection {
    background-color: #f0b2d8;
}

*:root[data-colour|="red-light"] *::-moz-selection {
    background-color: #f9a59b;
}

*:root[data-colour|="yellow-light"] *::-moz-selection {
    background-color: #fcf0be;
}

*:root[data-colour|="green-light"] *::-moz-selection {
    background-color: #d5fcbb;
}

*:root[data-colour|="teal-light"] *::-moz-selection {
    background-color: #bdf0df;
}

*:root[data-colour|="cyan-dark"] *::-moz-selection {
    background-color: #00495c;
}

*:root[data-colour|="blue-dark"] *::-moz-selection {
    background-color: #383966;
}

*:root[data-colour|="purple-dark"] *::-moz-selection {
    background-color: #4c3159;
}

*:root[data-colour|="magenta-dark"] *::-moz-selection {
    background-color: #592846;
}

*:root[data-colour|="red-dark"] *::-moz-selection {
    background-color: #5d2721;
}

*:root[data-colour|="yellow-dark"] *::-moz-selection {
    background-color: #4f420d;
}

*:root[data-colour|="green-dark"] *::-moz-selection {
    background-color: #1f4505;
}

*:root[data-colour|="teal-dark"] *::-moz-selection {
    background-color: #1c4b3b;
}

*:root[data-colour|="white"] *::-moz-selection {
    background-color: #f5f5f5;
}

*:root[data-colour|="bright"] *::-moz-selection {
    background-color: #cccccc;
}

*:root[data-colour|="light"] *::-moz-selection {
    background-color: #a3a3a3;
}

*:root[data-colour|="medium"] *::-moz-selection {
    background-color: #828282;
}

*:root[data-colour|="regular"] *::-moz-selection {
    background-color: #636363;
}

*:root[data-colour|="dark"] *::-moz-selection {
    background-color: #3b3b3b;
}

*:root[data-colour|="dim"] *::-moz-selection {
    background-color: #1c1c1c;
}

*:root[data-colour|="black"] *::-moz-selection {
    background-color: #0c0c0c;
}

*:root[data-colour|="inherit"] *::-moz-selection {
    background-color: inherit;
}

*:root[data-colour|="transparent"] *::-moz-selection {
    background-color: transparent;
}

*:root:root:root *[data-colour|="cyan"]::-moz-selection {
    background-color: #31b9db;
}

*:root:root:root *[data-colour|="blue"]::-moz-selection {
    background-color: #7476fc;
}

*:root:root:root *[data-colour|="purple"]::-moz-selection {
    background-color: #c258f2;
}

*:root:root:root *[data-colour|="magenta"]::-moz-selection {
    background-color: #e63ca4;
}

*:root:root:root *[data-colour|="red"]::-moz-selection {
    background-color: #e83f2c;
}

*:root:root:root *[data-colour|="yellow"]::-moz-selection {
    background-color: #f6d037;
}

*:root:root:root *[data-colour|="green"]::-moz-selection {
    background-color: #6ad622;
}

*:root:root:root *[data-colour|="teal"]::-moz-selection {
    background-color: #49cfa2;
}

*:root:root:root *[data-colour|="cyan-light"]::-moz-selection {
    background-color: #bfe7f2;
}

*:root:root:root *[data-colour|="blue-light"]::-moz-selection {
    background-color: #d0d1f6;
}

*:root:root:root *[data-colour|="purple-light"]::-moz-selection {
    background-color: #eabdff;
}

*:root:root:root *[data-colour|="magenta-light"]::-moz-selection {
    background-color: #f0b2d8;
}

*:root:root:root *[data-colour|="red-light"]::-moz-selection {
    background-color: #f9a59b;
}

*:root:root:root *[data-colour|="yellow-light"]::-moz-selection {
    background-color: #fcf0be;
}

*:root:root:root *[data-colour|="green-light"]::-moz-selection {
    background-color: #d5fcbb;
}

*:root:root:root *[data-colour|="teal-light"]::-moz-selection {
    background-color: #bdf0df;
}

*:root:root:root *[data-colour|="cyan-dark"]::-moz-selection {
    background-color: #00495c;
}

*:root:root:root *[data-colour|="blue-dark"]::-moz-selection {
    background-color: #383966;
}

*:root:root:root *[data-colour|="purple-dark"]::-moz-selection {
    background-color: #4c3159;
}

*:root:root:root *[data-colour|="magenta-dark"]::-moz-selection {
    background-color: #592846;
}

*:root:root:root *[data-colour|="red-dark"]::-moz-selection {
    background-color: #5d2721;
}

*:root:root:root *[data-colour|="yellow-dark"]::-moz-selection {
    background-color: #4f420d;
}

*:root:root:root *[data-colour|="green-dark"]::-moz-selection {
    background-color: #1f4505;
}

*:root:root:root *[data-colour|="teal-dark"]::-moz-selection {
    background-color: #1c4b3b;
}

*:root:root:root *[data-colour|="white"]::-moz-selection {
    background-color: #f5f5f5;
}

*:root:root:root *[data-colour|="bright"]::-moz-selection {
    background-color: #cccccc;
}

*:root:root:root *[data-colour|="light"]::-moz-selection {
    background-color: #a3a3a3;
}

*:root:root:root *[data-colour|="medium"]::-moz-selection {
    background-color: #828282;
}

*:root:root:root *[data-colour|="regular"]::-moz-selection {
    background-color: #636363;
}

*:root:root:root *[data-colour|="dark"]::-moz-selection {
    background-color: #3b3b3b;
}

*:root:root:root *[data-colour|="dim"]::-moz-selection {
    background-color: #1c1c1c;
}

*:root:root:root *[data-colour|="black"]::-moz-selection {
    background-color: #0c0c0c;
}

*:root:root:root *[data-colour|="transparent"]::-moz-selection {
    background-color: transparent;
}

*:root:root:root *[data-colour|="inherit"]::-moz-selection {
    background-color: inherit;
}
