*:root * {
    color: inherit;
    background: transparent;
    border-color: currentColor;
    outline-color: currentColor;
    text-decoration-color: currentColor;
}

/*  TRANSITIONS  */

a[href], *[data-colour-transition] {
    transition: color .5s, background-color .5s, line-colour .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, fill .5s, stroke .5s;
    transition: color .5s, background-color .5s, line-colour .5s, outline-color .5s, text-decoration-color .5s, text-emphasis-color .5s, fill .5s, stroke .5s;
}

/*  BASIC COLOURING  */

*[data-colour^="cyan-light"] {
    color: #bfe7f2;
}

*[data-colour^="blue-light"] {
    color: #d0d1f6;
}

*[data-colour^="purple-light"] {
    color: #eabdff;
}

*[data-colour^="magenta-light"] {
    color: #f0b2d8;
}

*[data-colour^="red-light"] {
    color: #f9a59b;
}

*[data-colour^="yellow-light"] {
    color: #fcf0be;
}

*[data-colour^="green-light"] {
    color: #d5fcbb;
}

*[data-colour^="teal-light"] {
    color: #bdf0df;
}

*[data-colour^="cyan-dark"] {
    color: #00495c;
}

*[data-colour^="blue-dark"] {
    color: #383966;
}

*[data-colour^="purple-dark"] {
    color: #4c3159;
}

*[data-colour^="magenta-dark"] {
    color: #592846;
}

*[data-colour^="red-dark"] {
    color: #5d2721;
}

*[data-colour^="yellow-dark"] {
    color: #4f420d;
}

*[data-colour^="green-dark"] {
    color: #1f4505;
}

*[data-colour^="teal-dark"] {
    color: #1c4b3b;
}

*[data-colour^="cyan"] {
    color: #31b9db;
}

*[data-colour^="blue"] {
    color: #7476fc;
}

*[data-colour^="purple"] {
    color: #c258f2;
}

*[data-colour^="magenta"] {
    color: #e63ca4;
}

*[data-colour^="red"] {
    color: #e83f2c;
}

*[data-colour^="yellow"] {
    color: #f6d037;
}

*[data-colour^="green"] {
    color: #6ad622;
}

*[data-colour^="teal"] {
    color: #49cfa2;
}

*[data-colour^="white"] {
    color: #f5f5f5;
}

*[data-colour^="bright"] {
    color: #cccccc;
}

*[data-colour^="light"] {
    color: #a3a3a3;
}

*[data-colour^="medium"] {
    color: #828282;
}

*[data-colour^="regular"] {
    color: #636363;
}

*[data-colour^="dark"] {
    color: #3b3b3b;
}

*[data-colour^="dim"] {
    color: #1c1c1c;
}

*[data-colour^="black"] {
    color: #0c0c0c;
}

/*  ROOT THEMES  */

*:root[data-colour^="cyan-light"] {
    background-color: #bfe7f2;
}

*:root[data-colour^="blue-light"] {
    background-color: #d0d1f6;
}

*:root[data-colour^="purple-light"] {
    background-color: #eabdff;
}

*:root[data-colour^="magenta-light"] {
    background-color: #f0b2d8;
}

*:root[data-colour^="red-light"] {
    background-color: #f9a59b;
}

*:root[data-colour^="yellow-light"] {
    background-color: #fcf0be;
}

*:root[data-colour^="green-light"] {
    background-color: #d5fcbb;
}

*:root[data-colour^="teal-light"] {
    background-color: #bdf0df;
}

*:root[data-colour^="cyan-dark"] {
    background-color: #00495c;
}

*:root[data-colour^="blue-dark"] {
    background-color: #383966;
}

*:root[data-colour^="purple-dark"] {
    background-color: #4c3159;
}

*:root[data-colour^="magenta-dark"] {
    background-color: #592846;
}

*:root[data-colour^="red-dark"] {
    background-color: #5d2721;
}

*:root[data-colour^="yellow-dark"] {
    background-color: #4f420d;
}

*:root[data-colour^="green-dark"] {
    background-color: #1f4505;
}

*:root[data-colour^="teal-dark"] {
    background-color: #1c4b3b;
}

*:root[data-colour^="cyan"] {
    background-color: #31b9db;
}

*:root[data-colour^="blue"] {
    background-color: #7476fc;
}

*:root[data-colour^="purple"] {
    background-color: #c258f2;
}

*:root[data-colour^="magenta"] {
    background-color: #e63ca4;
}

*:root[data-colour^="red"] {
    background-color: #e83f2c;
}

*:root[data-colour^="yellow"] {
    background-color: #f6d037;
}

*:root[data-colour^="green"] {
    background-color: #6ad622;
}

*:root[data-colour^="teal"] {
    background-color: #49cfa2;
}

*:root[data-colour^="white"] {
    color: #636363;
    background-color: #f5f5f5;
}

*:root[data-colour^="bright"] {
    color: #3b3b3b;
    background-color: #cccccc;
}

*:root[data-colour^="light"] {
    color: #1c1c1c;
    background-color: #a3a3a3;
}

*:root[data-colour^="medium"] {
    color: #0c0c0c;
    background-color: #828282;
}

*:root[data-colour^="regular"] {
    color: #f5f5f5;
    background-color: #636363;
}

*:root[data-colour^="dark"] {
    color: #cccccc;
    background-color: #3b3b3b;
}

*:root[data-colour^="dim"] {
    color: #1c1c1c;
    background-color: #1c1c1c;
}

*:root[data-colour^="black"] {
    color: #0c0c0c;
    background-color: #0c0c0c;
}
